<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Momo Shop</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js" defer></script>
</head>

<body>

    <%- include('partials/header') %>
    <!-- Page Content -->
    <div class="container mt-4">
        <h1>About Us</h1>
        <p>
            Momo Shop is an online application developed to ease the process of ordering Momos, a delicious dish that has
            gained global popularity. Realizing the growing affection for them, this application has a long-term goal to
            introduce and turn them into one of the favourite dishes among Kiwis in New Zealand.
        </p>
        <p>
            There are two primary user roles that the application caters to: normal users and admins. Normal users can
            browse the application, search for Momos, view images, descriptions, and prices, and add them to the order list.
            They can also remove the order if they change their mind later. On the flip side, admins have full access to
            the inventory. They can add new items, update the name, price, description, and/or image of previous ones, delete
            items, and control the overall application.
        </p>
        <p>
            Hence, the purpose of this platform is to offer an efficient and convenient online method for users to order
            Momos while providing admins with the user interface to manage the menu and food effectively. The target audience
            includes Kiwis who want to explore Momos and order them online, as well as restaurant administrators who require
            tools to manage their Momo offerings.
        </p>

        <h2>Contact Us</h2>
        <p>If you have any questions or need assistance, feel free to reach out to us:</p>
        <p><strong>Phone:</strong> 02102524460</p>
        <p><strong>Email:</strong> nipa011@ess.ais.ac.nz</p>
    </div>

    <%- include('partials/footer') %>



</body>



</html>
