<!DOCTYPE html>
<html>

<head>
    <title>Momo Shop</title>
</head>

<body>
    <h1>Welcome to Momo Shop</h1>
    <% if (user) { %>
        <p>Hello, <%= user.username %> | <a href="/logout">Logout</a></p>
        <% } else { %>
            <p><a href="/login">Login</a> | <a href="/register">Register</a></p>
            <% } %>

                <h2>Available Momos</h2>
                <ul>
                    <% foods.forEach(food=> { %>
                        <li>
                            <%= food.name %> - $<%= food.price %>
                        </li>
                        <% }) %>
                </ul>
</body>

</html>